In [9]:
str1 ="python-java-c++-ruby"
print(str1.split("-"))
print(str1.split("-",2))

['python', 'java', 'c++', 'ruby']
['python', 'java', 'c++-ruby']

# List VS Tuple

In [11]:
myList = ["A",10,3.14]
myTuple = ('Ken',35)
print(type(myList))
print(type(myTuple))

<class 'list'>
<class 'tuple'>

In [13]:
mylist = ["Oen"]
print(mylist)
myTuple = (10,)
print(myTuple)
print(type(myTuple))

['Oen']
(10,)
<class 'tuple'>

In [14]:
myList = ["A","B","C","D","E"]
myTuple = ("X","y",20,"H",15.623)
print(len(myList))
print(len(myTuple))
print(myList[:3])#:是區間取值，取到第3個","之前
print(myTuple[:3])

5
5
['A', 'B', 'C']
('X', 'y', 20)

In [15]:
a1 = 5
b2 = 9
a1,b2 = b2,a1
print(a1,b2)

9 5

In [17]:
result = ("projectName",10.5,24.3)
pName = result[0]
h = result[1]
w = result[2]
print(pName,h,w)

projectName 10.5 24.3

In [18]:
result = ("projectName",10.5,24.3)
pname,h,w = result#指定分配不能取非連續型的
print(pname,h,w)

projectName 10.5 24.3

In [22]:
result = ("projectName",10.5,24.3,25,67,88,99)
pname,h = result[1],result[-3]#指定分配不能取非連續型的
print(pname,h)

10.5 67

In [31]:
result = ("projectName",10.5,24.3,25,67,88,99)
pName,h,w,*_ = result
print(pName,h,w)
print(*_)

projectName 10.5 24.3
25 67 88 99

In [34]:
a = (3,1,2)
b = (5,6)
c = a+b
print(c)
lisA = ["Ken,vivin"]
lisB = ["Joy",10,"Lindy"]
lisC = lisA + lisB #產生新的連結
print(lisC)

(3, 1, 2, 5, 6)
['Ken,vivin', 'Joy', 10, 'Lindy']

In [35]:
lisA = ["Ken","Vivin","Lucy","Iris"]
lisA[0] = 10
print(lisA)
print(lisA[:-1])
print(lisA[-1:-4:-1])
print(lisA[::2])
print(lisA[1:3])

[10, 'Vivin', 'Lucy', 'Iris']
[10, 'Vivin', 'Lucy']
['Iris', 'Lucy', 'Vivin']
[10, 'Lucy']
['Vivin', 'Lucy']

In [39]:
myList = ["A","B","C","D","E"]
newList = myList[0:3]
print("myList:",id(myList))
print("newList:",id(newList))
newList[0] = "x"
print(myList)
print(newList)

myList: 2472257824192
newList: 2472262724160
['A', 'B', 'C', 'D', 'E']
['x', 'B', 'C']

In [1]:
r = range(1,10)
rList = list(r)
print(rList)
rList[2] = 25
print(rList)
myTuple = (5,6,7,9)
#myTuple[2] = 11
tList = list(myTuple)
tList[2] = 11
print(myTuple)
print(tList)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 25, 4, 5, 6, 7, 8, 9]
(5, 6, 7, 9)
[5, 6, 11, 9]

# 轉為tuple

In [2]:
r=range(1,11)
t=tuple(r)
print(t)
myList=["A","B","C"]
myTuple=tuple(myList)
print(myTuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
('A', 'B', 'C')

# 拷貝與附加

In [3]:
list1=[1,2,3,4,5]
list2=list1
print(list2)
list2[1]=77
print(list1)
print(id(list1))
print(id(list2))

[1, 2, 3, 4, 5]
[1, 77, 3, 4, 5]
1242960462784
1242960462784

In [5]:
list1=[1,2,3,4,5]
list2=list1.copy()
print(id(list1))
print(id(list2))
list2[1]=77
print(list1)
print(list2)

1242960463296
1242960456576
[1, 2, 3, 4, 5]
[1, 77, 3, 4, 5]

In [6]:
list1=[1,2,3,4,5]
list1.append(99)
list1.append(100)
print(list1)
list1.insert(1,200)
print(list1)

[1, 2, 3, 4, 5, 99, 100]
[1, 200, 2, 3, 4, 5, 99, 100]

In [11]:
list1 = ['a','b','c','d','e']
print(len(list1))
list1.insert(1,"x")
print(list1)
list1.insert(-2,"y")
print(list1)
list2.insert(-4,"z")
print(list1)
list1.insert(88,"gg")
print(list1)

5
['a', 'x', 'b', 'c', 'd', 'e']
['a', 'x', 'b', 'c', 'y', 'd', 'e']
['a', 'x', 'b', 'c', 'y', 'd', 'e']
['a', 'x', 'b', 'c', 'y', 'd', 'e', 'gg']

# set會過濾重複資料

In [16]:
mySet={"A","B","A","C","B","E"}
print(mySet)
for v in mySet:
    print(v)

{'A', 'C', 'E', 'B'}
A
C
E
B

In [19]:
data=[]
for _ in range(5):
    v=input("請輸入字串")
    data.append(v)
print(data)

請輸入字串1
請輸入字串2
請輸入字串3
請輸入字串4
請輸入字串5
['1', '2', '3', '4', '5']

In [20]:
data=[]
for _ in range(5):
    v=input("請輸入字串")
    data.append(v)
print(data)
dataSet=set(data)
print(dataSet)
data=list(dataSet)
print(data)
sorted(data)

請輸入字串1
請輸入字串2
請輸入字串3
請輸入字串1
請輸入字串3
['1', '2', '3', '1', '3']
{'3', '1', '2'}
['3', '1', '2']

['1', '2', '3']

In [23]:
list1 = ['1','x','2','x','3']
list1.remove('x')
print(list1)
list1.remove('x')
print(list1)
if 'x' in list1:
    list1.remove('x')

['1', '2', 'x', '3']
['1', '2', '3']

In [39]:
list1 = ['1','x','2','x','3']
while True:
    if 'x' in list1: #if_in 甚麼資料型態都可以放?
        list1.remove('x')
    else:
        break
print(list1)

['1', '2', '3']

# pop
## 如果pop()內沒有參數，則移除最後一筆資料。
## pop()內若有參數，則移除指定位置的資料。

In [60]:
list2=[]
list2.append("Ken")
list2.append("Viven")
list2.append("Lucy")
list2.append("Iris")
print(list2)
print(list2.pop())
print(list2.pop())
print(list2.pop())
print(list2.pop())

#print(list2.pop())   #list空了出錯

['Ken', 'Viven', 'Lucy', 'Iris']
Iris
Lucy
Viven
Ken

In [57]:
list2=[]
list2.append("Ken")
list2.append("Viven")
list2.append("Lucy")
list2.append("Iris")
while len(list2)>0:
    print(list2.pop(0))

Ken
Viven
Lucy
Iris

# del

In [62]:
list2 = ["A","B","C","D","E"]
print(list2)
del list2[2]
print(list2)
del list2[1:3]
print(list2)

['A', 'B', 'C', 'D', 'E']
['A', 'B', 'D', 'E']
['A', 'E']

In [65]:
list2 = ["A","B","C","D","E"]
print(list2)
del list2[1:3]
print(list2)

['A', 'B', 'C', 'D', 'E']
['A', 'D', 'E']

In [72]:
nlist=[]
for i in range(23):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [71]:
nlist=[]
for i in range(23):
    nlist.append(i)
print(nlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [91]:
nlist=[]
for i in range(23):
    print(i,3**i)

0 1
1 3
2 9
3 27
4 81
5 243
6 729
7 2187
8 6561
9 19683
10 59049
11 177147
12 531441
13 1594323
14 4782969
15 14348907
16 43046721
17 129140163
18 387420489
19 1162261467
20 3486784401
21 10460353203
22 31381059609

# List生成器

In [78]:
nList=[i for i in range(1,23)]
print(nList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [90]:
nlist=[]
for i in range(22):
    print(i,3**i)

0 1
1 3
2 9
3 27
4 81
5 243
6 729
7 2187
8 6561
9 19683
10 59049
11 177147
12 531441
13 1594323
14 4782969
15 14348907
16 43046721
17 129140163
18 387420489
19 1162261467
20 3486784401
21 10460353203